.Q_Dot {
  width: 6px;
  height: 6px;
  background-color: var(--shape-white);
}

.Q_Link {
  grid-row-gap: 10px;
  mix-blend-mode: difference;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  color: var(--type-white);
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3%; /* 0.7px */
  text-underline-offset: 9.5%; /* 2.66px */
  text-underline-position: from-font;
  text-transform: lowercase;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.Q_Icon_24 {
  width: 24px;
  height: 24px;

  &:nth-child(1) {
    background-image: url("../../images/youtube.svg");
  }

  &:nth-child(2) {
    background-image: url("../../images/telegram.svg");
  }

  &:nth-child(3) {
    background-image: url("../../images/instagram.svg");
  }

  &:nth-child(4) {
    background-image: url("../../images/arena.svg");
  }
}

.Q_MobileFooterSocialItem {
  aspect-ratio: 1;
  width: 50px;
  filter: invert();
}

.Q_X {
  object-fit: cover;
}

.Union {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 27.2879px;
  height: 26.9076px;
  text-decoration: none;
  display: flex;
}

.Q_ArticleListItemBullet {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 99px;
}

.Q_HoverGradient {
  background: linear-gradient(180deg, rgba(178, 255, 0, 0) 0%, #b2ff00 100%);
}

.Q_FooterPic {
  position: absolute;
  height: 1186px;
  width: 100%;
  max-width: 1440px;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;

  background-image: url("../../images/articles/Q_FooterPic.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.Q_PursonPic {
  width: 60px;
  aspect-ratio: 1 / 1;
}

.A_Button {
  .Q_SqrDot {
    background-color: black;
  }
}

.Q_SqrDot {
  background-color: var(--shape-white);
  mix-blend-mode: exclusion;
  width: 3px;
  aspect-ratio: 1 / 1;
  position: absolute;
  z-index: 999;

  &:nth-child(1) {
    left: 0;
    bottom: 0;
  }
  &:nth-child(2) {
    right: 0;
    bottom: 0;
  }

  &:nth-child(3) {
    left: 0;
    top: 0;
  }
  &:nth-child(4) {
    right: 0;
    top: 0;
  }

  &.Middle.Top {
    left: 50%;
    translate: -50%;
    top: 0;
  }

  &.Middle.Bottom {
    left: 50%;
    translate: -50%;
    bottom: 0;
  }
}

.Q_LogoSvg {
  mix-blend-mode: difference;
}

.Q_MainVideo01 {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Q_ColabCardInterviewGradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 87px;
  background: linear-gradient(0deg, #f7f8fa 0%, rgba(247, 248, 250, 0) 100%);
  z-index: 2;
}
