.O_IventCardTop01 {
  grid-row-gap: 10px;
  background-position: 0 0;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin-bottom: -64px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.O_ItemCardBottom {
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: flex;
  position: relative;
  flex-direction: column;
}

.O_ColabCardArticle {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  max-width: 940px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.O_ColabCardWorkShop {
  background-image: url("https://cdn.prod.website-files.com/65f48127807333cb199c5d35/67def0b9a45d51194be8148f_O_ColabCardWorkshop.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 940px;
  height: 464px;
  min-height: 464px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.O_ColabCardWorkshopYou {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 464px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  background-image: url("https://cdn.prod.website-files.com/65f48127807333cb199c5d35/67def0b9a45d51194be8148f_O_ColabCardWorkshop.png");
}

.O_Footer {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.O_ColabCardInterview {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 940px;
  height: 464px;
  text-decoration: none;
  display: flex;
  position: relative;

  &:hover {
    cursor: pointer;

    .Q_ColabCardInterviewGradient {
      background: linear-gradient(0deg, #b2ff00 0%, rgba(178, 255, 0, 0) 100%);
    }
  }
}

.O_TextParagraph {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.O_ArticleRecsCardArticle {
  grid-column-gap: 12px;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;

  &:hover {
    background: linear-gradient(180deg, rgba(178, 255, 0, 0) 0%, #b2ff00 100%);
    cursor: pointer;

    .A_Fade {
      display: none;
    }
  }
}

.O_ArticleRecsCardArticle.Mobile {
  display: none;
}

.O_FooterMobile {
  display: none;
}
