@media only screen and (min-width: 1441px) {
  .Q_FooterPic {
    background-image: url("../images/articles/Q_FooterPic1920.png");
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  :root {
    --h1-font-size: 28px;

    --p-font-size: 12px;
    --p-A_LabelSmall-font-size: var(--p-font-size);
  }

  p.Title {
    font-size: 14px;
  }

  .W_IventCardBottomContent {
    flex-direction: column;
  }

  .W_IventCardBottomBody {
    flex-direction: column;
    width: 100%;
  }

  .W_IventCardBottomTextDetails {
    width: 100%;
  }

  .W_CaseParagraph {
    width: 100%;
  }

  .W_ContentImg {
    width: 100%;
  }

  .W_Content {
    flex-direction: column;
    padding-right: 16px;
    padding-bottom: 32px;
  }

  .W_ArticleHeading {
    justify-content: flex-start;
    width: 100%;
    gap: 12px;
  }

  .O_ItemCardBottom {
    width: calc(100% - 16px);
  }

  .W_MainText {
    width: calc(100% - 100px);
  }

  .O_ItemCardBottom {
    padding-right: 32px;
    padding-left: 16px;
  }

  .W_IventCardTextTop {
    flex-flow: column;
  }

  .W_IventCardText {
    grid-row-gap: 12px;
  }

  .O_TextParagraph {
    grid-row-gap: 16px;
  }

  .W_ArticleListItem {
    p {
      font-size: 14px;
    }
  }

  .A_ArticleCoverVideo {
    height: auto;
  }

  .S_ArticleBodyTextParagraphs {
    width: 100%;
    grid-row-gap: 32px;
  }

  .S_ArticleBodyText {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .O_ArticleRecsCardArticle {
    display: none;
  }

  .W_ArticleRecsCardArticleWrap {
    display: flex;
    width: 100%;
    gap: 20px;
    .O_ArticleRecsCardArticle.Mobile {
      justify-content: space-between;
      align-items: flex-start;
      overflow: hidden;
      flex-direction: row-reverse;

      grid-column-gap: 12px;
      justify-content: space-between;
      width: 100%;
      text-decoration: none;
      display: flex;
      position: relative;
      overflow: hidden;

      &:hover {
        background: none;
        cursor: auto;
      }
    }
  }

  .C_ColabCardArticleCover {
    height: 72px;
    aspect-ratio: 1 / 1;
  }

  .W_ColabCardWorksopText {
    height: auto;
    gap: 12px;
  }

  .W_ArticleArtifacts.Mobile {
    display: flex;
    top: 0;
    width: 100%;
    position: relative;

    .W_ArticleArtifacts {
      grid-row-gap: 20px;
      display: flex;
      position: relative;
      top: 0;
      width: 100%;

      .Author-Comments {
        width: 100%;
      }
    }
  }

  .W_ColabCardWorksopTextInfo p.Small {
    -webkit-line-clamp: none;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .A_Fade {
    display: none;
  }

  .W_ArticleArtifacts {
    display: none;
  }

  .W_StickyWrap {
    display: flex;
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .S_ArticleContent {
    justify-content: center;
    overflow-x: hidden;
  }

  .Author-Comments {
    position: relative;
  }

  .C_Recomendations {
    gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .A_MobileReadmore {
    display: flex;

    font-size: 14px;

    font-family: "PP Neue Montreal Medium";
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.4px;
    width: 100%;
    margin-left: 20px;
    margin-top: 12px;

    &.First {
      margin-left: 0px;
    }
  }

  .M_SmallRecomendations {
    aspect-ratio: auto;
    width: auto;
    gap: 10px;
    position: relative;
    overflow: visible;
    padding-top: 20px;
    padding-left: 4px;
    padding-right: 4px;

    p {
      font-size: 12px;
    }
  }

  .O_Footer {
    display: none;
  }

  .W_NavigationBottom {
    display: none;
  }

  .A_SmallRecsCover {
    aspect-ratio: 1;
    overflow: hidden;
    width: 60px;
  }

  .W_NavigationTop {
    display: none;
  }

  .W_NavigationTopMobile {
    display: none;
    max-width: 100%;
    height: 100vh;

    .A_MenuButtonMobile {
      position: relative;
      display: flex;
      width: 60px;
      height: 40px;
      padding-top: 8px;
      padding-bottom: 8px;

      -webkit-backdrop-filter: none;
      backdrop-filter: none;

      background-image: url("../images/articles/Q_MenuClose.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      box-sizing: border-box;
      background-clip: padding-box;
      background-origin: content-box;
    }
  }

  .A_MenuButtonMobile {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    width: 60px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: url("../images/articles/Q_Menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-clip: padding-box;
    background-origin: content-box;

    z-index: 999;
  }

  .A_MenuButtonMobile.White {
    background-image: url("../images/Q_MenuBlack.svg");
  }

  .W_MenuList {
    max-width: 220px;
  }

  .A_MenuItemMobile {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}
