:root {
  --h1-font-size: 72px;
  --h2-font-size: 48px;
  --h3-font-size: 28px;

  --p-font-size: 20px;
  --p-A_LabelMedium-font-size: 16px;
  --p-A_LabelSmall-font-size: 14px;
  --p-Small-font-size: 12px;
}
