html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: var(--surface-background);
}

.Secondary {
  color: var(--type-secondary);
}

.fill {
  width: 100%;
}

.active-tab {
  color: var(--type-white);
}

.default-tab {
  color: var(--type-white_48);
}

.Crop {
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Обрезает на 6 строке */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hide {
  opacity: 0;
}

.auto {
  justify-content: space-between;
}

.hidden {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
}

.opacity-0 {
  opacity: 0;
}

.vertical {
  aspect-ratio: 11 / 16;
  height: 405px;
}

.horisontal {
  aspect-ratio: 16 / 9;
  height: 405px;
}

.circle {
  border-radius: 1000px;
  height: 405px;
}

.BackBlur {
  position: absolute;
  left: -12px;
  top: -49px;
  width: 100%;
  height: 162px;
}

.gradient-blur {
  position: absolute;
  z-index: 5;
  inset: auto 0 0 0;
  height: 150%;
  pointer-events: none;
  bottom: 49px;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  top: 0px;
  inset: 0;
}
.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(3px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

@font-face {
  font-family: 'PP Neue Montreal Medium';
  src: url(fonts/061e00cdc9ebd57b06f7.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal SemiBold';
  src: url(fonts/e9a411f43c390e451b12.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal Bold';
  src: url(fonts/ed3bcafc151441ea6ced.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #f7f8fa;
  --yellow: #ffff00;
  --green: #b2ff00;
  --green_64: rgba(247, 248, 250, 0.64);
  --green_24: rgba(247, 248, 250, 0.24);
  --gray: #cbcbcc;
  --gray_48: rgba(203, 203, 204, 0.48);
  --black: #0d0f11;
  --black_64: rgba(13, 15, 17, 0.64);
  --black_48: rgba(13, 15, 17, 0.48);
  --black_6: rgba(13, 15, 17, 0.06);
  --white: #ffffff;
  --white_64: rgba(255, 255, 255, 0.64);
  --white_48: rgba(255, 255, 255, 0.48);
  --white_24: rgba(255, 255, 255, 0.24);

  --shape-primary: var(--black);
  --shape-secondary: var(--black_48);
  --shape-accent-primary: var(--green);
  --shape-brand-secondary: var(--yellow);
  --shape-white: var(--white);

  --type-primary: var(--black);
  --type-secondary: var(--black_64);
  --type-white: var(--white);
  --type-white_64: var(--white_64);
  --type-white_48: var(--white_48);
  --type-white_24: var(--white_24);
  --type-brand: var(--green);

  --stroke-primary: var(--black);
  --stroke-white: var(--white);
  --stroke-brand: var(--green);
  --stroke-brand-secondary: var(--yellow);

  --surface-black_64: var(--black_64);
  --surface-black_48: var(--black_48);
  --surface-black_6: var(--black_6);
  --surface-gray_48: var(--gray_48);
  --surface-brand-secondary: var(--yellow);
  --surface-brand-primary: var(--green);
  --surface-brand-primary_64: var(--green_64);
  --surface-brand-primary_24: var(--green_24);
  --surface-white: var(--white);
  --surface-white_24: var(--white_24);
  --surface-white_48: var(--white_48);
  --surface-background: var(--background);
}

.grid--1 {
  grid-column: span 1;
}
.grid--2 {
  grid-column: span 2;
}
.grid--3 {
  grid-column: span 3;
}
.grid--4 {
  grid-column: span 4;
}
.grid--5 {
  grid-column: span 5;
}
.grid--6 {
  grid-column: span 6;
}
.grid--7 {
  grid-column: span 7;
}
.grid--8 {
  grid-column: span 8;
}
.grid--9 {
  grid-column: span 9;
}
.grid--10 {
  grid-column: span 10;
}
.grid--11 {
  grid-column: span 11;
}
.grid--12 {
  grid-column: span 12;
}
.grid--13 {
  grid-column: span 13;
}
.grid--14 {
  grid-column: span 14;
}
.grid--15 {
  grid-column: span 15;
}
.grid--16 {
  grid-column: span 16;
}
.grid--17 {
  grid-column: span 17;
}
.grid--18 {
  grid-column: span 18;
}
.grid--19 {
  grid-column: span 19;
}
.grid--20 {
  grid-column: span 20;
}
.grid--21 {
  grid-column: span 21;
}
.grid--22 {
  grid-column: span 22;
}
.grid--23 {
  grid-column: span 23;
}
.grid--24 {
  grid-column: span 24;
}

#horizontal-scroll {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

#horizontal-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#horizontal-scroll {
  cursor: grab;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#horizontal-scroll::-webkit-scrollbar {
  display: none;
}
#horizontal-scroll.dragging {
  cursor: grabbing;
  user-select: none;
}

body.article {
  position: relative;
}

body.tusovochka {
  position: relative;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 12px;
  overflow-x: hidden;

  .O_Footer {
    grid-column: 1 / 25;
  }
}

img {
  pointer-events: none;
  user-select: none;
}

a {
  color: inherit; /* Наследует цвет текста родителя */
  text-decoration: none; /* Убирает подчеркивание */
}

a:visited {
  color: var(--type-primary);
}

a:hover {
  color: var(--type-primary);
}

a:active {
  color: var(--type-primary);
}

h1 {
  font-family: 'PP Neue Montreal SemiBold';
  font-size: var(--h1-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 85%;
  letter-spacing: -1.42px;
  text-transform: lowercase;
}

h2 {
  font-family: 'PP Neue Montreal SemiBold';
  font-size: var(--h2-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 85%;
  letter-spacing: -0.96px;
  text-transform: lowercase;
}

h3 {
  font-family: 'PP Neue Montreal';
  font-size: var(--h3-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 85%; /* 23.8px */
  letter-spacing: -0.28px;
  text-transform: lowercase;

  a {
    mix-blend-mode: difference;
    color: var(--type-white);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 3%;
    text-underline-offset: 9.5%;
    text-underline-position: from-font;
    text-transform: lowercase;
    cursor: pointer;

    font-family: 'PP Neue Montreal';
    font-size: var(--h3-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: 85%; /* 23.8px */
    letter-spacing: -0.28px;
    text-transform: lowercase;
  }
}

p.A_Heading3Burger {
  color: var(--Type---type-primary, #0d0f11);
  leading-trim: both;
  text-edge: cap;
  font-family: 'PP Neue Montreal';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 85%; /* 23.8px */
  letter-spacing: -0.28px;
  text-transform: lowercase;
}

.A_LabelLarge {
  font-family: 'PP Neue Montreal Medium';
  font-size: var(--p-font-size);
  font-style: normal;
  font-weight: 200;
  line-height: 115%;
  letter-spacing: 0.4px;
}

.A_LabelMedium {
  font-family: 'PP Neue Montreal Medium';
  font-size: var(--p-A_LabelMedium-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 18.4px */
  letter-spacing: 0.32px;
}

.A_LabelSmall {
  display: flex;
  font-family: 'PP Neue Montreal Medium';
  font-size: var(--p-A_LabelSmall-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 16.1px */
  letter-spacing: 0.14px;
  color: var(--type-secondary);

  a {
    color: var(--type-secondary);
    text-decoration: underline;
  }
}

p {
  font-family: 'PP Neue Montreal Medium';
  font-size: var(--p-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.4px;
}

p.Title {
  font-family: 'PP Neue Montreal Bold';
}

p.Small {
  font-family: 'PP Neue Montreal Medium';
  font-size: var(--p-Small-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.12px;
  color: var(--type-secondary);

  a {
    color: var(--type-secondary);
    text-decoration: underline;
  }
}

.W_ColabCardWorksopTextInfo p.Small {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* сколько строк оставить */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.A_Capture {
  font-family: 'PP Neue Montreal Medium';
  font-size: var(--p-Small-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 13.8px */
  letter-spacing: 0.12px;
}

.W_ColabCardWorksopText {
  .A_Capture {
    color: var(--type-secondary);
  }
}

:root {
  --h1-font-size: 72px;
  --h2-font-size: 48px;
  --h3-font-size: 28px;

  --p-font-size: 20px;
  --p-A_LabelMedium-font-size: 16px;
  --p-A_LabelSmall-font-size: 14px;
  --p-Small-font-size: 12px;
}

.Q_Dot {
  width: 6px;
  height: 6px;
  background-color: var(--shape-white);
}

.Q_Link {
  grid-row-gap: 10px;
  mix-blend-mode: difference;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  color: var(--type-white);
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3%; /* 0.7px */
  text-underline-offset: 9.5%; /* 2.66px */
  text-underline-position: from-font;
  text-transform: lowercase;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.Q_Icon_24 {
  width: 24px;
  height: 24px;

  &:nth-child(1) {
    background-image: url(images/5ca0e4126b5e1d330a8d.svg);
  }

  &:nth-child(2) {
    background-image: url(images/4ce4361d6278141afe0d.svg);
  }

  &:nth-child(3) {
    background-image: url(images/741c11f5b3ba3950ffce.svg);
  }

  &:nth-child(4) {
    background-image: url(images/24362671ceb8b99d0290.svg);
  }
}

.Q_MobileFooterSocialItem {
  aspect-ratio: 1;
  width: 50px;
  filter: invert();
}

.Q_X {
  object-fit: cover;
}

.Union {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 27.2879px;
  height: 26.9076px;
  text-decoration: none;
  display: flex;
}

.Q_ArticleListItemBullet {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 99px;
}

.Q_HoverGradient {
  background: linear-gradient(180deg, rgba(178, 255, 0, 0) 0%, #b2ff00 100%);
}

.Q_FooterPic {
  position: absolute;
  height: 1186px;
  width: 100%;
  max-width: 1440px;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;

  background-image: url(images/536221989790dc3ef68d.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.Q_PursonPic {
  width: 60px;
  aspect-ratio: 1 / 1;
}

.A_Button {
  .Q_SqrDot {
    background-color: black;
  }
}

.Q_SqrDot {
  background-color: var(--shape-white);
  mix-blend-mode: exclusion;
  width: 3px;
  aspect-ratio: 1 / 1;
  position: absolute;
  z-index: 999;

  &:nth-child(1) {
    left: 0;
    bottom: 0;
  }
  &:nth-child(2) {
    right: 0;
    bottom: 0;
  }

  &:nth-child(3) {
    left: 0;
    top: 0;
  }
  &:nth-child(4) {
    right: 0;
    top: 0;
  }

  &.Middle.Top {
    left: 50%;
    translate: -50%;
    top: 0;
  }

  &.Middle.Bottom {
    left: 50%;
    translate: -50%;
    bottom: 0;
  }
}

.Q_LogoSvg {
  mix-blend-mode: difference;
}

.Q_MainVideo01 {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Q_ColabCardInterviewGradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 87px;
  background: linear-gradient(0deg, #f7f8fa 0%, rgba(247, 248, 250, 0) 100%);
  z-index: 2;
}

:root {
  --background: #f7f8fa;
  --yellow: #ffff00;
  --green: #b2ff00;
  --green_64: rgba(247, 248, 250, 0.64);
  --green_24: rgba(247, 248, 250, 0.24);
  --gray: #cbcbcc;
  --gray_48: rgba(203, 203, 204, 0.48);
  --black: #0d0f11;
  --black_64: rgba(13, 15, 17, 0.64);
  --black_48: rgba(13, 15, 17, 0.48);
  --black_6: rgba(13, 15, 17, 0.06);
  --white: #ffffff;
  --white_64: rgba(255, 255, 255, 0.64);
  --white_48: rgba(255, 255, 255, 0.48);
  --white_24: rgba(255, 255, 255, 0.24);

  --shape-primary: var(--black);
  --shape-secondary: var(--black_48);
  --shape-accent-primary: var(--green);
  --shape-brand-secondary: var(--yellow);
  --shape-white: var(--white);

  --type-primary: var(--black);
  --type-secondary: var(--black_64);
  --type-white: var(--white);
  --type-white_64: var(--white_64);
  --type-white_48: var(--white_48);
  --type-white_24: var(--white_24);
  --type-brand: var(--green);

  --stroke-primary: var(--black);
  --stroke-white: var(--white);
  --stroke-brand: var(--green);
  --stroke-brand-secondary: var(--yellow);

  --surface-black_64: var(--black_64);
  --surface-black_48: var(--black_48);
  --surface-black_6: var(--black_6);
  --surface-gray_48: var(--gray_48);
  --surface-brand-secondary: var(--yellow);
  --surface-brand-primary: var(--green);
  --surface-brand-primary_64: var(--green_64);
  --surface-brand-primary_24: var(--green_24);
  --surface-white: var(--white);
  --surface-white_24: var(--white_24);
  --surface-white_48: var(--white_48);
  --surface-background: var(--background);
}

.grid--1 {
  grid-column: span 1;
}
.grid--2 {
  grid-column: span 2;
}
.grid--3 {
  grid-column: span 3;
}
.grid--4 {
  grid-column: span 4;
}
.grid--5 {
  grid-column: span 5;
}
.grid--6 {
  grid-column: span 6;
}
.grid--7 {
  grid-column: span 7;
}
.grid--8 {
  grid-column: span 8;
}
.grid--9 {
  grid-column: span 9;
}
.grid--10 {
  grid-column: span 10;
}
.grid--11 {
  grid-column: span 11;
}
.grid--12 {
  grid-column: span 12;
}
.grid--13 {
  grid-column: span 13;
}
.grid--14 {
  grid-column: span 14;
}
.grid--15 {
  grid-column: span 15;
}
.grid--16 {
  grid-column: span 16;
}
.grid--17 {
  grid-column: span 17;
}
.grid--18 {
  grid-column: span 18;
}
.grid--19 {
  grid-column: span 19;
}
.grid--20 {
  grid-column: span 20;
}
.grid--21 {
  grid-column: span 21;
}
.grid--22 {
  grid-column: span 22;
}
.grid--23 {
  grid-column: span 23;
}
.grid--24 {
  grid-column: span 24;
}

#horizontal-scroll {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

#horizontal-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#horizontal-scroll {
  cursor: grab;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#horizontal-scroll::-webkit-scrollbar {
  display: none;
}
#horizontal-scroll.dragging {
  cursor: grabbing;
  user-select: none;
}

body.article {
  position: relative;
}

body.tusovochka {
  position: relative;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 12px;
  overflow-x: hidden;

  .O_Footer {
    grid-column: 1 / 25;
  }
}

img {
  pointer-events: none;
  user-select: none;
}

a {
  color: inherit; /* Наследует цвет текста родителя */
  text-decoration: none; /* Убирает подчеркивание */
}

a:visited {
  color: var(--type-primary);
}

a:hover {
  color: var(--type-primary);
}

a:active {
  color: var(--type-primary);
}

.A_3dCard {
  object-fit: contain;
  padding: 22px 50px;
  img {
    width: 100%;
  }
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

h3 {
  a {
  }
  a:hover {
    text-decoration: none;
  }
}

.A_ProfileImg {
  box-sizing: border-box;
  aspect-ratio: auto;
  border-style: solid;
  border-width: undefinedpx;
  object-fit: contain;
  border-color: #fff3;
  height: auto;
  position: relative;
  top: 0;
  overflow: clip;
}

.A_Bentocard {
  box-sizing: content-box;
  object-fit: cover;
  width: 50%;
  overflow: auto;
}

.A_CardInterviewCover {
  width: 100%;
  max-width: 464px;
  height: 100%;
  object-fit: cover;

  grid-column: span 2;
  grid-row: span 2;
}

.A_BentoCardHorisontal {
  width: 100%;
  object-fit: cover;
}

.A_Profile {
  display: flex;
  aspect-ratio: 1;
  width: 100%;
  padding: 6px 0px;
  cursor: pointer;

  &:first-child {
    margin-top: 24px;
  }

  &:last-child {
    margin-bottom: 424px;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 345px;

  &:hover {
    box-shadow: 0px 0px 32.2px 0px #b2ff00 inset,
      0px 0px 32.2px 0px #b2ff00 inset;
  }

  &:nth-child(1) {
    background-image: url(images/b44527c0e712b45bd849.png);
  }
  &:nth-child(2) {
    background-image: url(images/9f5575a9736c29b1a070.png);
  }
  &:nth-child(3) {
    background-image: url(images/2d8931d39ff927aa3bdc.png);
  }
  &:nth-child(4) {
    background-image: url(images/94fc4a488eebd067f209.png);
  }
  &:nth-child(5) {
    background-image: url(images/f65a87de768b83daaeec.png);
  }
  &:nth-child(6) {
    background-image: url(images/a2bb3e7c529f9b4e7bd8.png);
  }
  &:nth-child(7) {
    background-image: url(images/d02707af0dc26587fa2a.png);
  }

  &.active {
    box-shadow: 0px 0px 32.2px 0px #b2ff00 inset,
      0px 0px 32.2px 0px #b2ff00 inset;
  }
}

.A_MenuItem {
  grid-column-gap: 10px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: var(--surface-gray_48);
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 227px;
  min-width: 227px;
  padding: 2px 3px;
  text-decoration: none;
  display: flex;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    background-color: var(--surface-brand-primary);
  }

  &:active {
    background-color: var(--surface-gray_48);
  }

  &:focus {
    background-color: var(--surface-brand-primary);
  }

  &.Active {
    background-color: var(--green);
  }

  p {
    color: black;
  }
}

.A_VectorMenu {
  z-index: 2;
  object-fit: cover;
  width: 244px;
  height: 72px;
  position: absolute;
  overflow: visible;
  right: -20px;
}

.A_MainShapeTusovochka {
  object-fit: cover;
  position: absolute;
  top: 164px;
  left: -427px;
}

.A_MainShapeIvents {
  object-fit: cover;
  position: absolute;
  top: 164px;
  left: -121px;
}

.A_Avatar {
  border-style: solid;
  border-width: undefinedpx;
  object-fit: cover;
  border-color: #00000014;
}

.A_FooterImage {
  object-fit: contain;
  position: absolute;
  top: -427px;
  left: 0;
}

.A_TelegarmText {
  grid-row-gap: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.A_MainShapeUcheba {
  object-fit: cover;
  position: absolute;
  top: 164px;
  left: -50px;
}

.A_HeadingHeroDescription {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-end;
  padding-top: 8px;
  text-decoration: none;
  display: flex;
}

.A_ParagraphAlt {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
  color: var(--type-white);
}

.A_CircleBlur {
  object-fit: cover;
  position: absolute;
  top: 250px;
  left: 0;
  overflow: visible;
}

.A_Circle {
  border-radius: 1000px;
  width: 88px;
  height: 88px;
}

.A_MediumLearningCardCover {
  grid-column: span 16;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.A_FadeMediumLearningCardInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(247, 248, 250, 0) 0%, #f7f8fa 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
}

.A_Fade {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 940px;
  height: 87px;
  text-decoration: none;
  display: flex;
  position: absolute;
  bottom: 0;
}

.A_SmallLearningCardCover {
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.A_AbsoluteVideo {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-column: span 8;
  grid-auto-columns: 1fr;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  contain: paint;
}

.A_AbsoluteVideoItem {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 2;
  width: 100%;
}

.A_ArticleCoverVideo {
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Author-Comments {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  width: 100%;
  position: relative;
}

.A_Button {
  grid-column-gap: 128px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: #0d0f110f;
  justify-content: center;
  align-items: center;
  width: calc(100% - 24px);
  padding: 12px 12px 12px 12px;
  text-decoration: none;
  display: flex;
  position: relative;
  flex-direction: column;

  .A_LabelSmall {
    color: black;
  }

  &.Content {
    align-items: flex-start;
    gap: 12px;
  }
}

.Dot {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 3px;
  height: 3px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.A_SmallRecsCover {
  border-style: solid;
  object-fit: contain;
  overflow: hidden;
  width: 104px;
  aspect-ratio: 1 / 1;

  background-image: url(images/d84b5264b03f96c9e539.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.A_ArticleCoverVideo {
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.A_MenuItemMobile {
  grid-column-gap: 10px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding: 12px 0px;
  text-decoration: none;
  display: flex;
}

.LabelStyle {
  color: #0d0f11;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 85%;
  text-decoration: none;
}

.A_3DCardMobile {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  display: flex;
}

.Text {
  color: #0d0f11;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 85%;
  text-decoration: underline;
}

.IconsSocial {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 38.2024px;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  display: flex;
}

.A_ArticleImageItem {
  display: block;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.A_ArticleImage {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.A_ArticleRecsCardArticleLinkBtn {
  text-decoration: none;
  translate: -20px;
  width: calc(100vw);
  background-color: #e2e3e4;
  display: none;
  justify-content: center;
  align-items: center;
  height: 38px;

  font-size: 14px;

  font-family: "PP Neue Montreal Medium";
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.4px;
}

.A_ArticleRecsCardArticleLinkBtn:visited {
  color: black;
}

.A_MobileReadmore {
  display: none;
}

.A_IventCardCover {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  background-size: cover;
}

.A_TusovochkaCardCover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-size: cover;
}

.A_ProfileEvent {
  display: flex;
  padding: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
  width: 60px;
  text-align: center;
}

.A_Backgrad {
  background: linear-gradient(180deg, rgba(112, 113, 114, 0) 0%, #707172 100%);
  width: 200vw;
  position: absolute;
  z-index: 1;
  height: 120px;
  top: -56px;
}

.M_TimeAndTime {
  grid-row-gap: 6px;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;

  #clock {
    width: 90px;
  }
}

.M_ItemCardBottomHeading {
  grid-column-gap: 8px;
  mix-blend-mode: difference;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  color: var(--type-white);
}

.M_ItemCardBottomHeadingEvents {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  color: var(--type-white);
  position: relative;
}

.M_WorkCard {
  grid-column: span 2;
  grid-row-gap: 10px;
  background-color: #d9d9d9;
  background-image: linear-gradient(#0000 0%, #000 100%),
    url(images/ab23ecba0e3700f29c81.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  max-width: 464px;
  height: 226px;
  min-height: 226px;
  text-decoration: none;
  display: flex;
  position: relative;

  &.Ts2 {
    background-image: linear-gradient(#0000 0%, #000 100%),
      url(images/66538b3f20438ac51c5c.png);
  }

  &.Ts3 {
    background-image: linear-gradient(#0000 0%, #000 100%),
      url(images/4c5055523c3d3e75c752.png);
  }

  &.Ts4 {
    background-image: linear-gradient(#0000 0%, #000 100%),
      url(images/0b6c7b6468caddb783d9.png);
  }

  &.Ts5 {
    background-image: linear-gradient(#0000 0%, #000 100%),
      url(images/66eeb5864b0f046a8339.png);
  }

  &.Ts6 {
    background-image: linear-gradient(#0000 0%, #000 100%),
      url(images/4ae1849f628120f5825c.png);
  }

  &.Ts7 {
    background-image: linear-gradient(#0000 0%, #000 100%),
      url(images/d6980c4ab5965c054e37.png);
  }

  p {
    font-size: 28px;
    a:visited {
      color: inherit;
    }
  }
}

.M_HeroItemCrads {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
  z-index: 1;

  .A_LabelMedium,
  .S_IndexContent {
    opacity: 0;
  }
  cursor: pointer;

  &:hover {
    .M_HeroItem {
      background-color: var(--surface-black_6);
    }
    .A_LabelMedium,
    .S_IndexContent {
      opacity: 1;
    }
  }
}

.M_TelegramBadge {
  grid-column-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
  grid-column: span 10;
}

.M_HeroItem {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 24px 12px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  z-index: 1;
}

.M_ParagraphHeader {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.M_Purson {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.Text {
  color: #0d0f11;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
}

.M_SmallRecomendations {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;

  p {
    font-family: "PP Neue Montreal Medium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 18.4px */
    letter-spacing: 0.32px;
    max-width: 120px;
    text-align: center;
    user-select: none;
  }

  &:hover {
    .A_SmallRecsCover {
      border-radius: 104px;
      box-shadow: 0px 0px 20.529px 0px #b2ff00,
        0px 0px 23.849px 0px #b2ff00 inset;
    }
    cursor: pointer;
  }
}

.W_NavigationTop {
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 320px;
  display: flex;
  position: fixed;
  top: 12px;
  right: 18px;
  z-index: 3;
  gap: 12px;
}

.W_NavigationBottom {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 226px;
  text-decoration: none;
  display: flex;
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 3;
  mix-blend-mode: difference;
}

.W_InfoLineEnd {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); /* Авто-колонки */

  grid-column: span 12;
}

.W_InfoLineHor {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
  width: calc(100% - 24px);
  margin-left: 12px;
}

.W_End {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

.W_InfoWrap {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 24px);
  padding: 12px 0px 12px 0px;
  display: flex;
  position: relative;
}

.W_Form {
  grid-row-gap: 37px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 128px;
  padding-bottom: 128px;
  text-decoration: none;
  display: flex;
}

.W_HeadingHero {
  grid-column-gap: 67px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  display: flex;
}

.W_Profile {
  grid-row-gap: 122px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.W_Hero {
  position: relative;
  width: 100%;
  grid-column-gap: 48px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 12px;

  h1 {
    width: 100%;
  }

  .C_Links {
    grid-column-start: 6;
    grid-column-end: 8;

    margin-left: 0px;
  }
}

.W_ColabCardWorksopText {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 226px;
  height: 464px;
  text-decoration: none;
  display: flex;
}

.W_ColabCardWorkshopTextStartYou {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 425px;
  text-decoration: none;
  display: flex;
}

.W_WorkshopTextStartYou {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  padding-left: 60px;
  text-decoration: none;
  display: flex;
}

.W_ColabCardWorkShopTextYou {
  background-image: linear-gradient(#000 0%, #0000 100%);
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 940px;
  height: 297px;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
}

.W_ColabcardWorksopTextInfo {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 226px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: flex;
}

.W_WorksopTextInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.W_BentoStart {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 2;
  height: 100%;
}

.W_TopWorks {
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.W_ProfileHeading {
  grid-row-gap: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 430px;
  text-decoration: none;
  display: flex;

  grid-column-start: 1;
  grid-column-end: 6;

  h1 {
    font-size: 5vw;
  }
}

.W_IventCardText {
  grid-column-gap: 12px;
  grid-row-gap: 32px;
  background-image: linear-gradient(0deg, #0000, #000);
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 40px 12px 144px;
  text-decoration: none;
  display: flex;
  color: var(--type-white);
}

.W_MainText {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 60px;
  text-decoration: none;
  display: flex;
}

.W_ItemCardBottomText {
  grid-row-gap: 48px;
  border-radius: 405px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 374px;
  text-decoration: none;
  display: flex;
}

.W_Eyes {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4px;
  text-decoration: none;
  display: flex;
}

.W_Circles {
  grid-column-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  height: 88px;
  text-decoration: none;
  display: flex;
}

.W_IventCardTextTop {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: row;
  display: flex;
}

.W_MediumLearningCardInfo {
  grid-column: span 8;
  display: grid;

  grid-template-rows: 1fr auto; /* Верхний элемент, пустое место, нижний элемент */
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
}

.W_MediumLearningCardInfoHeading {
  display: flex;
  gap: 16px;
  flex-direction: column;
  grid-column: span 8;
}

.W_SmallLearningCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 4;
}

.W_SmallLearningCardInfoHeading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.W_MediumLearningCardInfoParagraph {
  display: grid;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  position: relative;
  grid-column: span 6;
}

.W_SmallLearningCardRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
  margin-bottom: 128px;
  height: auto;
}

.W_SmallLearningCardInfoParagraph {
  position: relative;
  display: block;
  grid-column: 4;
}

.W_ColabCardWorksopText {
  flex-direction: column;
  justify-content: space-between;
  max-width: 226px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.W_CardHeading {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.W_PersonInfo {
  grid-row-gap: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;

  .A_LabelSmall {
    color: black;
  }

  .A_LabelSmall:nth-child(2) {
    color: var(--type-secondary);
  }
}

.W_NavigationTopMobile {
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  background-image: linear-gradient(90deg, #e2e2e300, #e2e2e3);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 375px;
  height: 812px;
  text-decoration: none;
  display: none;
  position: fixed;
  overflow: hidden;
  z-index: 3;
}

.W_MenuList {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 220px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  display: flex;
}

.LinkSocial {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: flex;
}

.W_ArticleHeading {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.W_ArticleListItem {
  display: flex;
  gap: 12px;
  align-items: center;
}

.W_StickyWrap {
  margin-top: 64px;
  margin-bottom: 64px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 12px;
}

.W_ArticleArtifacts {
  top: 360px;
  grid-row-gap: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: sticky;
  align-self: flex-start;

  grid-column: 21 / 25;
}

.W_ArticleRecsCardArticleWrap {
  display: none;
  flex-direction: column;
}

.W_ArticleArtifacts.Mobile {
  display: none;
}

.W_MenuNav {
  display: flex;
  flex-direction: column;
}

.W_IventCardBottomTextDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  align-self: stretch;
  color: var(--type-white);
  width: 230px;
}

.W_DotsWrap {
  pointer-events: none;
  mix-blend-mode: exclusion;
  position: fixed;
  z-index: 99999;
  top: 12px;
  left: 12px;
  height: calc(100% - 24px);
  width: calc(100% - 24px);

  .Q_SqrDot {
    width: 6px;
  }
}

.W_MobileFooterWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    font-size: 14px;
    color: black;
  }

  &:nth-child(1) {
    order: 3;
  }
}

.W_MobileFooterSocial {
  order: 2;
  position: relative;
  isolation: isolate;
  display: inline-block;
  gap: 8px;
  z-index: 9999;
  padding: 0px 20px;
}

.W_IventCardBottomContent {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  overflow-x: auto;
  width: 100%;
  z-index: 2;
  padding: 12px;
}

.W_IventCardBottomBody {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.W_ContentImg {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.W_Content {
  display: flex;
  padding-right: 64px;
  align-items: flex-start;
  gap: 12px;
}

.W_CaseParagraph {
  display: flex;
  width: 226px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: var(--type-white);
}

.C_TimeInfo {
  gap: 14px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 0px;
  text-decoration: none;
  display: flex;
  color: var(--type-white);
}

.C_Navigation {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.C_IventCardsGrid {
  display: flex;
  flex-direction: column;
}

.C_CircleList {
  grid-column-gap: 12px;
  object-fit: cover;
  flex-flow: row;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 44px;
  text-decoration: none;
  display: flex;
}

.C_Profiles {
  grid-column-gap: 10px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 23.958vw;
  text-decoration: none;
  display: flex;
  position: fixed;
  top: 0;
  left: 12px;
}

.C_ProfilesEvents {
  grid-column-gap: 10px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 230px;
  text-decoration: none;
  display: flex;
  top: 0;
  left: 12px;
}

.C_WrapTest {
  width: 100%;
  position: relative;
  overflow: visible;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}

.C_Links {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 125px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  display: flex;
  margin-left: 12px;
}

.C_Bento {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}

.C_BentoPics {
  display: grid;
  gap: 12px;
  grid-column: span 2;
  grid-template-columns: repeat(2, 1fr);
  img {
    grid-column: span 1;
    width: 100%;
    object-fit: cover;
  }
}

.W_ColabCardWorksopText {
  .C_WadeWithUsGrid {
    grid-row-gap: 12px;
  }
}

.C_WadeWithUsGrid {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 940px;
  text-decoration: none;
  display: flex;
}

.C_DotsTop {
  display: flex;
  width: calc(100vw - 24px);
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  mix-blend-mode: difference;
  pointer-events: none;
}

.C_DotsBottom {
  display: flex;
  width: calc(100vw - 24px);
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  mix-blend-mode: difference;
  pointer-events: none;
}

.C_DotsCenter {
  display: flex;
  width: calc(100vw - 24px);
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  bottom: auto;
  left: 0px;
  mix-blend-mode: difference;
  pointer-events: none;
}

.C_Tab {
  grid-column-gap: 88px;
  mix-blend-mode: difference;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px 32px;
  text-decoration: none;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.C_Hero {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.C_Social {
  height: calc(100% - 24px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 8px;
}

.C_ColabCardArticleCovers {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 464px;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.C_ColabCardArticleCover {
  border: 1.5px solid #fff6;
  max-width: 226px;
  object-fit: cover;
}

.C_BentPoics {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.C_SmallLearningCardGrid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-column: span 8;
  grid-auto-columns: 1fr;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.C_Recomendations {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: calc(100% - 24px);
  width: 100%;
  overflow-x: scroll;
}

.C_NavigationMobile {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
  padding-right: 12px;
}

.C_SocialIconsMobile {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  display: flex;
}

.C_ArticleList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .A_ParagraphBody {
    line-height: 100%;
  }
}

.O_IventCardTop01 {
  grid-row-gap: 10px;
  background-position: 0 0;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin-bottom: -64px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.O_ItemCardBottom {
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: flex;
  position: relativO_ColabCardWorkshopYoue;
  flex-direction: column;
}

.O_ColabCardArticle {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  max-width: 940px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.O_ColabCardWorkShop {
  background-image: url("https://cdn.prod.website-files.com/65f48127807333cb199c5d35/67def0b9a45d51194be8148f_O_ColabCardWorkshop.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 940px;
  height: 464px;
  min-height: 464px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.O_ColabCardWorkshopYou {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 464px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  background-image: url("https://cdn.prod.website-files.com/65f48127807333cb199c5d35/67def0b9a45d51194be8148f_O_ColabCardWorkshop.png");
}

.O_ColabCardWorkshopYou2046 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 464px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  background-image: url(https://d2w9rnfcy7mm78.cloudfront.net/35553879/original_35aa58bee1bf3d5e936d7aa9946446d2.png?1743069801?bc=0);
}

.O_Footer {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.O_ColabCardInterview {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 940px;
  height: 464px;
  text-decoration: none;
  display: flex;
  position: relative;

  &:hover {
    cursor: pointer;

    .Q_ColabCardInterviewGradient {
      background: linear-gradient(0deg, #b2ff00 0%, rgba(178, 255, 0, 0) 100%);
    }
  }
}

.O_TextParagraph {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.O_ArticleRecsCardArticle {
  grid-column-gap: 12px;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;

  &:hover {
    background: linear-gradient(180deg, rgba(178, 255, 0, 0) 0%, #b2ff00 100%);
    cursor: pointer;

    .A_Fade {
      display: none;
    }
  }
}

.O_ArticleRecsCardArticle.Mobile {
  display: none;
}

.O_FooterMobile {
  display: none;
}

.S_IventCard {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0000008b;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  text-decoration: none;
  display: flex;
  overflow: hidden;
  box-shadow: 0 32px 60px #b2ff00;
}

.S_TusovochkaContent {
  margin-right: 12px;
  margin-top: 24px;
  grid-column-start: 9;
  grid-column-end: 25;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  flex-flow: row;
  justify-content: space-between;
  max-width: 940px;
  min-width: 50px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
}

.S_IndexContent {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.S_UchebaGrid {
  display: grid;
  grid-auto-rows: auto;
  padding: 36px 12px 12px 12px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0px 12px;
  align-self: stretch;
  flex-wrap: wrap;
}
.S_MediumLearningCard {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 12px;
  width: 100%;
  margin-bottom: 160px;
  height: calc(100vh - 78px);
}

.S_SmallLearningCard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
  height: 50vh;
  margin-bottom: 128px;
}

.S_SmallLearningCardMask {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
  height: 50vh;
  margin-bottom: 160px;
}

.S_ArticleBody {
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 64px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.S_ArticleBodyText {
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 25%;
  padding-right: 25%;
  text-decoration: none;
  display: flex;
}

.S_ArticleBodyTextParagraphs {
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 702px;
  text-decoration: none;
  display: flex;

  grid-column: 5 / 16;
}

.S_ArticleContent {
  background-color: #f7f8fa;
  flex-wrap: wrap;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
  min-height: 100vh;
}

@media only screen and (min-width: 1441px) {
  .Q_FooterPic {
    background-image: url(images/2c88a524f7f2c2415860.png);
    max-width: none;
  }

  .C_Profiles {
    width: 345px;
  }

  .S_TusovochkaContent {
    grid-column-start: 8;
  }

  .W_ProfileHeading {
    h1 {
      font-size: 72px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 860px) {
  .W_InfoLineHor {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  :root {
    --h1-font-size: 28px;

    --p-font-size: 12px;
    --p-A_LabelSmall-font-size: var(--p-font-size);
  }

  body.tusovochka {
    display: flex;
    flex-direction: column;
  }

  .C_Bento {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .C_BentoPics {
    width: 100%;
  }

  .O_ColabCardInterview {
    flex-direction: column;
  }

  #MobileHidden {
    display: none;
  }

  .S_TusovochkaContent {
    width: 100%;
    max-width: none;
    margin-top: 8px;
    grid-column-start: 1;
    grid-column-end: 25;
    margin-right: 0;
  }

  .A_ArticleRecsCardArticleLinkBtn {
    display: flex;
  }
  .C_Links {
    display: none;
  }

  .C_Hero {
    flex-direction: column;
    height: auto;

    .A_ArticleRecsCardArticleLinkBtn {
      width: 100vw;
      translate: 0px;
      background-color: var(--green);
    }
  }

  .C_Profiles {
    width: 100%;
    position: relative;
    left: auto;
    overflow-x: auto;
  }

  .C_WrapTest {
    flex-direction: row;
    height: 16vw;
    min-height: 60px;
    gap: 30px;
    width: 100%;
  }

  .W_Profile {
    grid-row-gap: 48px;
  }

  .W_Hero {
    .W_ProfileHeading {
      grid-row-gap: 20px;

      padding-left: 20px;
      width: 100%;
      max-width: none;

      grid-column-start: 1;
      grid-column-end: 10;

      h1 {
        font-size: 36px;
        letter-spacing: -0.4px;
      }
    }
  }

  .W_TopWorks {
    h2 {
      font-size: 28px;
      padding-left: 20px;
      letter-spacing: -0.2px;
    }
    grid-row-gap: 24px;
  }

  .A_Profile {
    height: 60px;
    padding: 0;
    width: 60px;
    &:first-child {
      margin-top: 0;
      margin-left: 26px;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 26px;
    }
  }

  .Q_MainVideo01 {
    top: 97px;
    object-fit: cover;
    width: 274px;
    height: 190px;
    right: 0;
  }

  .W_HeadingHero {
    display: none;
  }

  .W_DotsWrap {
    display: none;
  }

  .M_HeroItem {
    flex-direction: column-reverse;
    padding: 24px 20px;
  }

  .M_HeroItemCrads {
    .A_LabelMedium {
      opacity: 0;
    }
    .S_IndexContent {
      grid-row-gap: 12px;
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 12px;
        font-weight: 100;
      }

      opacity: 1;
    }

    height: 356px;

    &:hover {
      .A_LabelMedium {
        opacity: 0;
      }
    }
  }

  .M_HeroItemCrads:first-child .M_HeroItem .S_IndexContent h3 br {
    display: none;
  }

  .C_Social {
    display: none;
  }

  p.Title {
    font-size: 14px;
  }

  .W_ArticleHeading {
    justify-content: flex-start;
    width: 100%;
    gap: 12px;
  }

  .W_ArticleListItem {
    p {
      font-size: 14px;
    }
  }

  .W_IventCardBottomContent {
    flex-direction: column;
  }

  .W_IventCardBottomBody {
    flex-direction: column;
    width: 100%;
  }

  .W_IventCardBottomTextDetails {
    width: 100%;
  }

  .W_CaseParagraph {
    width: 100%;
  }

  .W_ContentImg {
    width: 100%;
  }

  .W_Content {
    flex-direction: column;
    padding-right: 16px;
    padding-bottom: 32px;
  }

  .O_ItemCardBottom {
    width: calc(100% - 16px);
  }

  .W_MainText {
    width: calc(100% - 100px);
  }

  .O_ItemCardBottom {
    padding-right: 32px;
    padding-left: 16px;
  }

  .W_IventCardTextTop {
    flex-flow: column;
  }

  .W_IventCardText {
    grid-row-gap: 12px;
  }

  .O_TextParagraph {
    grid-row-gap: 16px;
  }

  .A_ArticleCoverVideo {
    height: auto;
  }

  .S_ArticleBodyTextParagraphs {
    width: 100%;
    grid-row-gap: 32px;
  }

  .S_ArticleBodyText {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .O_ArticleRecsCardArticle {
    display: none;
  }

  .W_ArticleRecsCardArticleWrap {
    display: flex;
    width: 100%;
    gap: 20px;
    .O_ArticleRecsCardArticle.Mobile {
      justify-content: space-between;
      align-items: flex-start;
      overflow: hidden;
      flex-direction: row-reverse;

      grid-column-gap: 12px;
      justify-content: space-between;
      width: 100%;
      text-decoration: none;
      display: flex;
      position: relative;
      overflow: hidden;

      &:hover {
        background: none;
        cursor: auto;
      }
    }
  }

  .C_ColabCardArticleCover {
    height: 72px;
    aspect-ratio: 1 / 1;
  }

  .W_ColabCardWorksopText {
    height: auto;
    gap: 12px;
  }

  .W_ArticleArtifacts.Mobile {
    display: flex;
    top: 0;
    width: 100%;
    position: relative;

    .W_ArticleArtifacts {
      grid-row-gap: 20px;
      display: flex;
      position: relative;
      top: 0;
      width: 100%;

      .Author-Comments {
        width: 100%;
      }
    }
  }

  .W_ColabCardWorksopTextInfo p.Small {
    -webkit-line-clamp: none;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .A_Fade {
    display: none;
  }

  .W_ArticleArtifacts {
    display: none;
  }

  .W_StickyWrap {
    display: flex;
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .S_ArticleContent {
    justify-content: center;
    overflow-x: hidden;
  }

  .Author-Comments {
    position: relative;
  }

  .C_Recomendations {
    gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .A_MobileReadmore {
    display: flex;

    font-size: 14px;

    font-family: "PP Neue Montreal Medium";
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.4px;
    width: 100%;
    margin-left: 20px;
    margin-top: 12px;

    &.First {
      margin-left: 0px;
    }
  }

  .M_SmallRecomendations {
    aspect-ratio: auto;
    width: auto;
    gap: 10px;
    position: relative;
    overflow: visible;
    padding-top: 20px;
    padding-left: 4px;
    padding-right: 4px;

    p {
      font-size: 12px;
    }
  }

  .O_Footer {
    display: none;
  }

  .W_NavigationBottom {
    display: none;
  }

  .A_SmallRecsCover {
    aspect-ratio: 1;
    overflow: hidden;
    width: 60px;
  }

  .W_NavigationTop {
    display: none;
  }

  .W_NavigationTopMobile {
    display: none;
    max-width: 100%;
    height: 100vh;

    .A_MenuButtonMobile {
      position: relative;
      display: flex;
      width: 60px;
      height: 40px;
      padding-top: 8px;
      padding-bottom: 8px;

      -webkit-backdrop-filter: none;
      backdrop-filter: none;

      background-image: url(images/d624da3bd5dbf4532212.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      box-sizing: border-box;
      background-clip: padding-box;
      background-origin: content-box;
    }
  }

  .A_MenuButtonMobile {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    width: 60px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: url(images/46a4ec45d1a6de83df25.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-clip: padding-box;
    background-origin: content-box;

    z-index: 999;
  }

  .O_FooterMobile {
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    padding-bottom: 96px;
    gap: 12px;
    background: linear-gradient(
      0deg,
      var(--Serface---surface-brand-primary, #b2ff00) 0%,
      rgba(247, 248, 250, 0) 100%
    );
  }

  .W_Form {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    z-index: 999;
  }

  .A_MenuButtonMobile.White {
    background-image: url(images/1d8bd8a2ffef7be37c9f.svg);
  }

  .W_MenuList {
    max-width: 220px;
  }

  .A_TelegarmText {
    p.A_LabelSmall {
      font-size: 14px;
    }
    p.A_LabelSmall:first-child {
      color: black;
    }
  }

  .W_Form p.A_LabelLarge:first-child {
    font-size: 20px;
  }

  .Q_LogoSvg {
    width: 190px;
  }

  .W_InfoLineHor {
    flex-direction: column;
    align-items: flex-start;
    z-index: 999;
    gap: 48px;
  }

  .A_MenuItemMobile {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}



/*# sourceMappingURL=index.css.map*/